<script type="text/javascript">
$(function() {
  $(".js-show-gemfile").click(function(e) {
    e.preventDefault();
    $('.js-gemfile-modal').modal('show')
  })
})
</script>

<script class="js-benchmarks-data" type="text/json">
<%= @reports.to_json %>
</script>

<ol class="breadcrumb">
  <li><a href="/builds">Builds</a></li>
  <li class="active"><%= @build.tag || @build.target %></li>
</ol>

<% if @build.ref.present? %>
<p>Commit: <a href="<%= @build.github_commit.html_url %>"><%= @build.commit.message %></a></p>
<% end %>
<p><a href="javascript:;" class="js-show-gemfile">Target Gemfile</a> | <a href="https://github.com/kirs/rails-perf/tree/master/benchmarks">Benchmarks code</a></p>

<div class="well">
  <ul class="nav nav-tabs">
    <% @components.each do |name| %>
    <li class="<% if @current_component == name %>active<% end %>"><a href="/builds/<%= @build.id %>/<%= name %>"><%= name %></a></li>
    <% end %>
  </ul>

  <div class="charts-container js-charts-container"></div>
</div>

<div class="modal fade js-gemfile-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Gemfile content</h4>
      </div>

      <div class="modal-body">
        <pre><%= @build_gemfile %></pre>
      </div>
    </div>
  </div>
</div>
